@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

img {
  position: relative;
  width: 98%;
  height: 98%;
  object-fit: cover;
  will-change: transform;
}

h1{
  font-size : 5rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 1.25;
}


section{
  position: relative;
  width: 'screen';
  background-color: #0f0f0f;
  color: #ffffff
}

.intro,
.outro {
  height: 100svh;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro h1,
.outro h1 {
  width: 60%;
  text-align: center;
  line-height: 1.1;
}


@media (max-width: 900px) {
  h1{
    font-size: 2rem;
    letter-spacing: 0;
  }

  .intro h1,
  .outro h1 {
    width: 100%;
  }


  
}